div h4 {
    font-size: 2.6rem;
    padding: 5px;
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 2px;
}

div label{
    font-size: 1.7rem;
    padding: 5px;
    letter-spacing: 1px;
    margin: 0 .7rem 0 0.5rem;
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
    width: 7rem;
    height: 3rem; 
    font-size: 1.5rem;
    padding: .5rem;
}
 
input[type=number]:focus,
input[type=number]:active { 
    outline: none;
}  

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
        margin: 0; 
  }

  @media only screen and (max-width : 900px) {
    div h4 {
        font-size: 1.6rem
    }

    div label{
        font-size: 1.2rem;
    } 
}

@media only screen and (max-width : 710) {
    input[type=number] { 
        width: 5rem;
        height: 2.5rem; 
        font-size: 1rem;
        padding: .5rem;
    } 
}
